{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="task-container">
    <h3>Keep your task intact</h3>
    <form method='post' action="">
    {% csrf_token %}
    <div class="">
        <label for="title">Title</label><br>
        {{form.title}}
    </div><br>
    <div class="">
        <label for="title">Content</label><br>
        {{form.content}}
    </div>
    <div class="">
        <input type="submit" value="submit" class="btn btn-primary">
        <button class="btn btn-primary"><a href="{% url 'home' %}">Back</a></button>
    </div>
    
    
    </form>
</div>

{% endblock %}