{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="view-container">
    <h1>Your Task</h1>
    <hr>
    <div class="task">
    <h2>{{task.title}}</h2>
    <p>{{task.content}}</p>
    </div>
    <button class="btn btn-primary"><a href="{% url 'update' task.id %}">Update</a></button>
    <button class="btn btn-primary"><a href="{% url 'delete' task.id %}">Delete</a></button>
    <button class="btn btn-primary"><a href="{% url 'home'%}">Back</a></button>
</div>

{% endblock %}